/* 
Color Palette
https://colorhunt.co/palette/f9f7f7dbe2ef3f72af112d4e

----------------------------
| Color        | Hex       |
----------------------------
| dark-blue    | #112D4E   |
| blue         | #3F72AF   |
| light-blue   | #DBE2EF   |
| light        | #F9F7F7   |
----------------------------
*/


/* Common */
body {
    background-color: #F9F7F7;
}

table {
    border-spacing: 10px
}

hr {
    border-color: #3F72AF;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
}

h1, h2, h3 {
    color: #112D4E;
}

/* Chess */
.board {
    border-spacing: 0px;
}

.square {
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 50px;
}

.square-sm {
    font-size: 20px;
}

.square-top {
    border-top: thick solid #112D4E;
}

.square-btm {
    border-bottom: thick solid #112D4E;
}

.square-rgt {
    border-right: thick solid #112D4E;
}

.square-lft {
    border-left: thick solid #112D4E;
}

.square-light {
    background-color: #DBE2EF;
}

.square-dark {
    background-color: #3F72AF;
}